@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crushed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/bernoru');

:root {
    --primary-color: #F7FFF7;
    --secondary-color: #292F36;
    --primary-background-color: #F7FFF7;
    --secondary-background-color: #292F36;
    --border-color: #292F36;

    --green: #4ECDC4;
    --yellow: #FAD02C;

    --primary-font-family: 'Montserrat', sans-serif;
    --secondary-font-family: 'Crushed', sans-serif;
    --logo-font-family: 'Bernoru', sans-serif;
}

:root[data-theme='dark'] {

    --primary-color: #292F36;
    --secondary-color: #F7FFF7;
    --primary-background-color: #292F36;
    --secondary-background-color: #F7FFF7;
    --border-color: #F7FFF7;


    --green: #4ECDC4;
    --yellow: #FAD02C;

    --primary-font-family: 'Montserrat', sans-serif;
    --secondary-font-family: 'Crushed', sans-serif;
    --logo-font-family: 'Bernoru', sans-serif;

}