.logo {
    font-family: var(--logo-font-family);
    color: var(--green);
    font-size: clamp(2.4rem, 25vw, 6rem);
    text-align: center;
    letter-spacing: .1rem;
    user-select: none;
    -moz-user-select: none;
}

.logo span {
    color: var(--yellow);
}