.lines {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}

.line {
    display: flex;
    gap: 0.8rem;
}

.letter {
    background-color: var(--secondary-background-color);
    color: var(--primary-color) !important;
    padding: 2rem 2.4rem;
    opacity: .7;
    font-size: x-large;
    border-radius: .8rem;
}

.correct {
    background-color: var(--green);
}

.warning {
    background-color: var(--yellow);
}

.disabledLetter {
    background-color: var(--secondary-background-color);
    color: var(--primary-color) !important;
    opacity: .4;
    padding: 3rem 3.3rem;
    font-size: x-large;
    border-radius: .8rem;
}
